@model  List<CursoMvc.Models.TablesViewsModels.UserTableViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>
<div class="row">
    <div class="col-md-12" style="text-align:right">
        <input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/User/Add")'" value="Nuevo Usuario" />
    </div>
</div>

<div class="row" style="margin:10px">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Edad</th>
            </tr>

            @foreach (var usuariosObj in Model)
            {
                <tr>
                    <td>@usuariosObj.Id_Usuario</td>
                    <td>@usuariosObj.Email</td>
                    <td>@usuariosObj.Edad</td>
                </tr>
            }
        </table>
    </div>
</div>

